body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

.navbar {
  background-color: #CC0000;
  border-bottom: 15px solid black;
}

.nav-item {
  color: white;
  font-size: 20px;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: #3B4CCA;
  border-bottom: 2px;
  border-color: black;
}

@font-face {
  font-family: "pokemon-font";
  src: url("pokemon_font.ttf");
}
/*Pokemon font from https://fontmeme.com/pokemon-font/*/

.navbar-brand-h1 {
  font-family: "pokemon-font"; 
  font-size: 30px;
  color: #FFDE00;
  -webkit-text-stroke-width: 1.75px;
  -webkit-text-stroke-color: #3B4CCA;
  font-display: swap;
}

h1 {
  font-family: "pokemon-font";
  color: #FFDE00;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #3B4CCA;
  font-display: swap;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style-type: none;
}

ol li {
  columns: 1;
  float: left;
  width: 33.33333%;
  list-style-position: inside;
}
