body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;

}

.navbar {
  background-color: #CC0000;
  border: 2;
  border-color: black;
}

.nav-item {
  background-color: white;
  color: #3B4CCA;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style-type: none;
}

ol li {
  columns: 1;
  float: left;
  width: 33.33333%;
  list-style-position: inside;
}
